{% extends 'base.html' %}

{% block extrahead %}
<link rel="stylesheet" href="{{ url_for('.static', filename='css/gallery.css') }}">
{% endblock %}

{% block content %}
<h2>{{ title }}</h2>

<div class="photos">
    {% for img in thumbnails %}
    <img src="{{ img }}" onclick="show_iframe('{{ url_for('gallery.image', glr_nn=nn, img_n=loop.index) }}')">
    {% endfor %}
</div>

<iframe id="iframe"
        name="image"
        width="100%" height="100%"
        scrolling="no"
        allowfullscreen sandbox(allow-same-origin)
>
</iframe>

<script type="text/javascript" src="{{ url_for('.static', filename='js/gallery.js') }}"></script>
{% endblock %}



