<!-- Страница со списком галерей. -->
{% extends 'base.html' %}

{% block extrahead %}
<link rel="stylesheet" href="{{ url_for('.static', filename='css/galleries.css') }}">
{% endblock %}

{% block content %}

<div class="list_block">
    <h1>Галерея</h1>

    {% if session.get('admin') %}
    <ol>
    {% else %}
    <ul>
    {% endif %}
        {% for g in glrs %}
        <li><a href="{{ url_for('.glr', glr_slug=g[1]) }}">{{ g[0] }}</a></li>
        {% endfor %}
    {% if session.get('admin') %}
    </ol>
    {% else %}
    </ul>
    {% endif %}
</div>

<img class="galleries" src="{{ url_for('.static', filename='/galleries.gif') }}">

{% endblock %}