<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/image.css') }}">
    <script>let photos_len = {{ photos_len }};</script>
</head>
<body>

<div class="container">

    <div class="arrow left" onclick="flip_iframe('<-')">
        <img class="arrow left" src="{{ url_for('.static', filename='arrow_left.svg') }}">
    </div>

    <div class="image" onclick="hide_me()">
        <img class="image" id="iframe-image" src="{{ img }}">
    </div>

    <div class="arrow right" onclick="flip_iframe('->')">
        <img class="arrow right" src="{{ url_for('.static', filename='arrow_right.svg') }}">
    </div>

</div>

<script type="text/javascript" src="{{ url_for('.static', filename='js/image.js') }}"></script>
</body>
</html>