<base href="/articles/static/my_articles/temperatura_vodi/">
<img src="ftext2-436x225.jpg" style="float: right; padding-right: 0; padding-top: 0;">
<p>Температура является одним из важнейших условий окружающей среды и важным показателем для жизнедеятельности рыб.
Рыбы не имеют постоянной температуры тела. Она зависит от температуры окружающей среды, изменяясь вместе с ней. У большинства рыб температура тела превышает температуру воды всего лишь на 0,5-1°С. Есть, конечно, исключения, например, у тунца температура тела может быть выше температуры окружающей среды на 10°С.
</p>
<p>
Температура воды влияет на сроки икрометания, развития икры, скорость роста, газообмен, пищеварение и т.д. Для всех видов рыб существует верхний и нижний предел температуры, и если этот предел нарушается, то рыба гибнет и/или заболевает.
Способность рыб переносить резкие колебания температуры окружающей среды у разных видов неодинакова. Большинство тропических видов, многие глубоководные и рыбы полярных вод гибнут при небольших отклонениях температуры воды в ту или иную сторону. А вот многие рыбы умеренных широт могут переносить значительные колебания температуры воды.
</p>

<h3>Температура воды и её влияние на рыб</h3>

<p>
Всех рыб можно разделить по отношению к температуре на две большие группы: теплолюбивые тропические рыбы, живущие при температуре выше 24°С, и холоднолюбивые рыбы более высоких широт, где средние температуры намного ниже.
В любой обстановке рыбы приспособлены к довольно узкому температурному диапазону. Если температура выходит за пределы этого диапазона или быстро изменяется даже в его пределах, у рыб наступает СТРЕСС.
В общих чертах физиологические последствия перепада температуры состоят в изменении скорости обмена веществ; в изменении процесса дыхания, так как в теплой воде растворено меньше кислорода, чем в холодной; в изменении pH крови; в нарушении осморегуляции. Резкое изменение температуры может также вызвать проблемы с плавательным пузырём. Температура непосредственно влияет на рост и развитие рыб; неблагоприятная температура может вызвать задержку роста, проблемы с питанием у личинок или преждевременный выклев зародышей из икры.
Из вышесказанного мы видим, насколько важно поддерживать температуру воды в пределах, оптимальных для каждого вида, и избегать резких колебаний температуры. Это не очень сложно, если использовать современные регулируемые нагреватели, а при необходимости – и системы охлаждения. Плюс термометр. Степень необходимого подогрева или охлаждения воды зависит от объема аквариума, температуры окружающей среды, вида (-ов) рыб содержащихся в аквариуме.
</p>

<h3>К чему приводит повышение и понижение температуры воды в аквариуме?</h3>

<img src="ftext3-436x325.jpg" style="float: left; padding-left: 0;">
<p>Рыбы холоднокровны - это означает, что у них слабо развита способность поддерживать постоянную температуру тела. У большинства рыб температура тела та же, что и окружающей среды. И повышение или понижение температуры воды в аквариуме приводит организм рыбы в стрессовое состояние.
</p>
<p>
ПОВЫШЕНИЕ ТЕМПЕРАТУРЫ поначалу вызывает резкий скачок обмена веществ, за которым следует повышенная потребность в кислороде, поскольку более теплая вода содержит меньше растворенного кислорода. Дефицит кислорода вызывает усиленное выделение адреналина и учащение сердечного ритма. Одновременно снижается способность крови переносить кислород. Изменения в поведении рыб при термальном стрессе состоит в повышенной двигательной активности, нарушениях равновесия и увеличении частоты дыхательных движений. Высокая температура вызывает денатурацию структурных белков и ферментов, а поврежденные клетки выделяют токсичные продукты распада. Высокая температура также усиливает повреждающее действие многих токсичных веществ, особенно тяжелых металлов и аммиака. При сильном термальном стрессе рыба впадает в кому из-за отказа центральной нервной системы. МАКСИМАЛЬНАЯ температура, которую может вынести рыба, зависит от её вида, температуры, которой проводилась акклиматизация, количества растворенного в воде кислорода и наличия в воде токсичных веществ.
</p>
<p>
ПОНИЖЕНИЕ ТЕМПЕРАТУРЫ также вызывает проблемы с обменом веществ. При температуре ниже +15°С уровень обменных процессов лимитируется температурой, и, если рыба не приспособлена к обитанию при низких температурах, количество вырабатываемой организмом энергии может упасть ниже минимально необходимого уровня. Низкая температура может вызвать недостаток кислорода в организме, известный как гипоксия, несмотря на то, что в холодной воде больше растворенного кислорода, чем в теплой. Поступление кислорода снижается вследствие низкой дыхательной активности и ослабления работы сердца. Низкие температуры вызывают хронические проблемы с осморегуляцией; мембраны жаберных клеток становятся проницаемыми, солевой насос в жабрах перестает работать, что вызывает нарушение почек. Изменения в поведении при холодовом стрессе обычно включают потерю равновесия и внезапные сильные спазмы. При сильном холодовом шоке рыбы обычно впадают в кому. Это состояние может быть обратимым, если обстановка резко изменится к лучшему.
</p>
<p>НЕБЛАГОПРИЯТНАЯ ТЕМПЕРАТУРА или её внезапное изменение обычно сопровождается ослаблением эффективности иммунной системы.</p>

<h3>Литература</h3>
<p><em>
    <ol>
        <li>Эндрюс К., Экселл Э., Кэррингтон Н. Болезни рыб. Профилактика и лечение – М.: Аквариум-Принт, 2007г.
    </ol>
</em></p>
