/* ADMIN */
div.flashes {
    min-height: 2rem;
}

div.flash {
    width: 100%;
    text-align: center;
    color: red;
}

div.flash.flash_green {
    color: green;
}

div.flash h4 {
    margin: 0;
}

div.pswd {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 0;
}

p.pswd input {
    font-size: 1rem;
    font-family: Marmelad, Arial, sans-serif;
    text-align: center;
}

p.pswd input[type="password"]{
    width: 16rem;
}

p.pswd input[type="submit"],
p.pswd input[type="reset"]{
    margin: 0.2rem;
}

div.pswd p {
    margin: 0.5rem 0;
}

/*-------------------------*/

h1, h2,
ul {
    text-align: center;
    padding: 0 0 0 0;
    margin-bottom: 0;
    list-style: none;
    line-height: 7vh;
}

ul {
    margin-top: 0;
}

div.separator {
    margin: 1rem;
    padding: 0;
}

/*-------------------------*/

.change_prices input[type="file"] {
    text-align: left;
    max-width: 60vw;
}

/*-------------------------*/

fieldset {
    width: 80vw;
    margin: 0 auto;
    margin-bottom: 1rem;
    padding: 0rem 0.8rem 0.5rem 0.8rem;
}
@media (max-width: 885px), (max-height: 885px) {
    fieldset {
        width: 90vw;
    }
}

p.description,
fieldset * {
    font-size: 0.8rem;
    margin: 0.8vh 0.8vw;
}

p.description {
    text-indent: 2rem;
}

legend {
    font-weight: bold;
    font-size: 1rem;
}

fieldset input[type="text"] {
    width: 40vw;
    min-width: 300px;
}

fieldset input[type="number"] {
    width: 2rem;
}
