<base href="/articles/static/my_articles/jestkost_obshiaya_gh_i_karbonatnaya_kh/">
<img src="ftext6-606x364.jpg" style="float: right;">
<p>Значение показателя <ins>общей жесткости (GH)</ins>, главным образом, характеризуется содержанием солей кальция и магния. Их источником являются природные залежи известняков, гипса и доломитов. Если это содержание высоко, воду называют жесткой, а воду с малым содержанием солей – мягкой. Общая жесткость играет решающую роль в протекании биологических процессов в аквариумной среде и измеряется в единицах dH (немецкие градусы жесткости). Благоприятными для содержания большинства декоративных рыб является значения в пределах 6-16°dH.</p>
<p>Значение показателя <ins>карбонатной жесткости (KH)</ins> характеризуется содержанием солей, возникающих от соединения кальция и магния с углекислотой (гидрокарбонатов кальция Ca(HCO<sub>3</sub>)<sub>2</sub> и магния Mg(HCO<sub>3</sub>)<sub>2</sub>. Практически любая вода содержит карбонаты. Они выполняют важную функцию в аквариуме, так как служат буфером кислотности, предотвращая сильные скачки показателя pH. Это означает, что KH имеет непосредственное влияние на самочувствие рыб. Диапазон рекомендуемых значений KH находится в пределах 3-10°dH.</p>

<h3>Литература</h3>
<p><em>
    <ol>
        <li>Брошюра Tetra Первые шаги к красивому аквариуму
    </ol>
</em></p>


