li {
    list-style: none;
}

.contacts_icon {
    width: 65px;
}

table.contacts {
    padding: 3vw 0 0 5vw;
    float: left
}

a.contacts,
span.contacts,
 table.contacts a {
    color: #333;
    text-decoration: none;
    font-size: 0.9rem;
    font-size: 1rem;
}

@media (max-width: 885px), (max-height: 885px) {
    .contacts_icon {
        width: 55px;
    }
}
@media (max-width: 490px), (max-height: 490px) {
    .contacts_icon {
        width: 40px;
    }
    table.contacts {
        padding: 10 0 0 20;
    }
}
@media (max-width: 420px) {
    .contacts_icon {
        width: 25px;
    }
    table.contacts {
        padding: 0;
    }
}

table.contacts a > ins,
.contacts > ins{
    font-weigth: bold;
    color: black;
}

img.contacts{
    width: calc(100px + 95vw);
    max-width: min(687px, 80vmax);
    padding: 5% 0 0 5%;
    float: left;
}
@media (max-width: 1600px) {
    img.contacts{
        padding: 0% 0 0 15%;
    }
}
