div.text404 {
    margin: 3vh 0 0 7vw;
    float: left;
    width: 38ex;
}

.p404 {
    font-size: 120pt;
    padding-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.p404.p404text {
    font-size: 18pt;
}

.sadfish{
    width: 40%;
    max-width: 626px;
    margin: 7% 0 0 10%;
}
@media (max-width: 1220px){
    .sadfish{
        float: left;
        width: 60%;
        margin-top: 0;
        margin-left: 30%;
    }
}
