div.text {
    text-align: center;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 0.6% 0 0.6% 0;
}

div.imgs {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--dark-color);
}

img.bg_img {
    width: 100%;
    min-width: 840px;
    margin-top: 0.7rem;
}

img.bg_img:first-of-type {
    margin-top: 0;
}
