:root {
    --light-color: #eee;
    --dark-color: #333;
    --logo-width: calc(35px + 6vmin);
    font-family: Marmelad, "Trebuchet MS", Arial, sans-serif;
    font-size: 20pt;
    box-sizing: border-box;
}
@media (max-width: 885px), (max-height: 885px) {
    :root {
        font-size: 16pt;
    }
}
@media (max-width: 490px), (max-height: 490px) {
    :root {
        font-size: 12pt;
    }
}

body {
    margin: 0;
}

/*---------- HEADER ----------*/
div#JS_WARNING {
    text-align: center;
    color: red;
/*     font-weight: bold; */
    padding: 0.7rem;
}

div.header-aquadomus1,
div.colontitle {
    color: var(--light-color);
    background-color: var(--dark-color);
    display: flex;
    align-items: center;
}

img.header-logo {
    width: var(--logo-width);
    max-width: 120px;
    margin: calc(5px + 0.1vmin);
    margin-left: calc(10px + 0.1vmin);
}
@media (max-width: 350px) {
    img.header-logo {
        width: 0;
        margin: 0;
    }
    div.header-aquadomus2 {
        padding-left: var(--logo-width);
    }
}

div.header-top-texts {
   flex: 1;
}

div.header-aquadomus1 {
    justify-content: space-between;
    background-color: transparent;
}

div.header-aquadomus2 {
    margin:0 auto;
}

div.header-top-texts a {
    color: inherit;
    text-decoration: inherit;
    display: block;
    flex: 1;
    text-align: center;
    font-size: 2rem;

}

div.header-admin-logout {
    float: right;
    width: calc(var(--logo-width) + 5px + 0.1vw);
    text-align: right;
    padding-right: 0.5rem;
}

div.header-admin-logout a {
    display: block;
    color: red;
    font-size: 0.8rem;
    font-family: Arial;
    padding: 0.17rem;
}

div.header-top-texts nav {
    display: flex;
    align-items: center;

}

div.header-top-texts nav a {
    font-size: 0.9rem;
    padding-bottom: 2px;
    cursor: pointer;
}

div.prices {
    background: var(--dark-color);
    border: 2px solid rgb(35,35,35);
    border-radius: 5px;
    position: fixed;
    display: flex;
    visibility: hidden;
    flex-direction: column;
    align-items: center;
    padding: 0.1rem;
}

div.prices a.prices {
    display: block;
    padding: 0.3rem 0.1rem;
}

/*---------- CONTENT ----------*/

.content {
    color: var(--dark-color);
/*     background-color: var(--light-color); */
    font-family: Arial, sans-serif;
    margin: 0;
    margin-bottom: 50px; /*.header.footer height*/
    padding: 0;
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6, legend {
    font-family: Marmelad, Arial, sans-serif;
}

/*---------- FOOTER ----------*/

div.footer {
    height: 50px;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    font-size: 12pt;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

div.footer a {
    color: inherit;
    text-decoration: inherit;
}

div.footer,
div.footer-left-block,
div.footer-item-block {
    display: flex;
    align-items: center;
}

div.footer-left-block {
    justify-content: space-between;
    flex: 1;
}

div.footer-item-block {
    flex: 2;
}

img.footer-icon {
    height: 40px;
    margin: 4px;
}

img.GoUp {
    margin-bottom: 0px;
}

div.footer-item-block:nth-child(1) {
    min-width: 32ex;
}
div.footer-item-block:nth-child(2) {
    min-width: 26ex;
}
div.footer-item-block:nth-child(3) {
    min-width: 38ex;
}

@media (max-width: 840px) {
    div.footer-item-block:nth-child(1) {
        font-size: 0pt;
        min-width: 48px;
        flex: 0;
    }
    div.footer-item-block:nth-child(2) {
        font-size: 0pt;
        min-width: 48px;
        flex: 0;
    }
    div.footer-item-block:nth-child(3) {
        font-size: 0pt;
        min-width: 48px;
        flex: 0;
    }
}