/* ARTICLES */
.list_block {
    padding: 4vh 0px 0px 8vw;
    float: left;
}

h1 {
    font-size: 1.5rem;
}

li:not(article li) {
    font-size: 0.9rem;
    padding: 0.5rem;
    padding-right: 1.5rem;
    max-width: 65ex;
}

img.articles {
    padding: 5vw 0 10vw 15vw;
    width: 33%;
    max-width: 700px;
}
@media (max-width: 885px) {
    img.articles {
        padding: 2% 0% 0% 20%;
        width: 55%;
    }
}

/*---------------------------*/
h1.article,
h2,
h4 {
    text-align: center;
}
h4 {
    text-decoration: underline;
}

article {
    max-width: 1200px;
    padding: 0 1rem;
    margin: 0 auto;
    font-size: 0.8rem;
}

article img {
    padding: 0.5rem 0.8rem;
    width: 45%;
    max-width: 100%
}

article p {
    text-indent: 2rem;
}
