{% extends 'base.html' %}

{% block extrahead %}
<link rel="stylesheet" href="{{ url_for('.static', filename='css/style.css') }}">
{% endblock %}

{% block content %}
<h1 class="article">{{ title }}</h1>
<article>
    {% include html_path %}
</article>
{% endblock %}
