<!-- Страница со списком галерей. -->
{% extends 'base.html' %}

{% block extrahead %}
<link rel="stylesheet" href="{{ url_for('.static', filename='css/style.css') }}">
{% endblock %}

{% block content %}

<div class="list_block">
    <h1>Статьи</h1>

    {% if session.get('admin') %}
    <ol>
    {% else %}
    <ul>
    {% endif %}
        {% for a in arts %}
        <li><a href="{{ url_for('.art', art_slug=a[1]) }}">{{ a[0] }}</a></li>
        {% endfor %}
    {% if session.get('admin') %}
    </ol>
    {% else %}
    </ul>
    {% endif %}
</div>

<img class="articles" src="{{ url_for('.static', filename='/articles.gif') }}">

{% endblock %}
