<p>Кислотность воды определяется кислотами и основаниями, растворенными в воде, которые делают её более
кислой <nobr>(рН <7,0)</nobr> или более щелочной <nobr>(рН >7,0)</nobr>. Вода считается нейтральной,
если её водородный показатель <nobr>рН = 7,0.</nobr> Вода с <nobr>рН < 4.5</nobr> и <nobr>pH > 9,5</nobr>
является биологически агрессивной, и её следует считать непригодной для
жизни обитателей аквариума. Рекомендуется проверять значения рН в аквариуме один раз в неделю.
Показатель рН напрямую зависит от значения показателя карбонатной жесткости и содержания углекислого
газа в воде. При изменении показателя карбонатной жесткости или содержания углекислого газа изменяется
значение показателя рН.
</p>

<h3>Факторы влияющие на pH воды в аквариуме</h3>
<img src="ftext4-436x246.jpg" style="float: right; padding-right: 0;">
<p>
При содержании рыб наиболее важными факторами, влияющими на рН воды,
являются биологическая фильтрация, дыхание и жизнедеятельность растений.
БИОЛОГИЧЕСКАЯ ФИЛЬТРАЦИЯ состоит из двух основных процессов, оба из которых
осуществляют колонии бактерий:</p>
<ul>
<li><ins>Нитрификация</ins>, в ходе которой соли аммония и токсичный аммиак, содержащиеся в
выделениях рыб, превращаются в нитриты, соли азотистой кислоты, а затем в менее
вредные нитраты, соли азотной кислоты;
<li><ins>Денитрификация</ins>, которая происходит в некоторых специальных фильтрах, где нитраты
разлагаются на азот и кислород.

</ul>
<p>
Эти два процесса оказывают противоположный эффект на pH воды. Получаемые в процессе
нитрификации нитрат-ионы и ионы водорода образуют азотную кислоту, которая снижает pH,
то есть увеличивает кислотность воды. Денитрификация, удаляющая подкисляющие нитрат-ионы,
увеличивает pH.
</p>
<p>
ДЫХАНИЕ обеспечивает газообмен, являющийся одной из главных составляющих обмена веществ,
в результате которого pH воды понижается, поскольку продуктом дыхания является углекислый газ,
легко превращающийся в воде в угольную кислоту. Аэрация воды способствует удалению углекислого газа.
ОБМЕН ВЕЩЕСТВ РАСТЕНИЙ в целом способствует повышению pH воды, поскольку в процессе фотосинтеза
потребляется углекислый газ, а нитраты используются для процессов роста.
</p>

<h3>Рыбы и pH воды</h3>

<p>
В процессе эволюции рыбы освоили водоёмы с разными значениями pH – от 5 до 9,5.
Большинство пресноводных рыб живут в воде с уровнем pH между 6 и 8.
Как правило, в природных водоёмах уровень pH достаточно стабилен, и суточные колебания
не превышают нескольких десятых долей показателя pH
Основное значение реакции среды для физиологии рыб состоит в том,
<img src="ftext5-436x328.jpg" style="float: left; padding-left: 0;">
что рыбам необходимо поддерживать постоянный pH внутренней среды,
это особенно важно для кислотно-щелочного баланса крови.
</p>

<p>
Для нейтрализации колебаний
pH рыбы используют основные ионы бикарбоната или углекислый газ. Если кровь становиться
слишком кислой из-за излишка CO<sub>2</sub>, количество ионов бикарбоната в крови увеличивается,
возвращая уровень pH к его нормальному значению. Наоборот, добавление двуокиси углерода
либо удаление ионов бикарбоната снижает значение pH крови. Эти реакции значительно
ускоряются некоторыми ферментами, находящимися в плазме крови рыб.
</p>
<p>
Разные виды рыб различаются своей способностью переносить значительные колебания pH воды.
Взрослые особи легче переносят такие изменения, чем икра и молодь. Очевидно, что процессы
поддержания кислотно-щелочного баланса крови лучше развиты у тех видов, которые обитают
при крайних значениях pH или могут выдерживать сильные колебания этого показателя.
Если значение pH воды выходит за рамки нормы реакции вида, у рыб могут появиться симптомы
АЦИДОЗА или АЛКАЛОЗА.
</p>

<h3>Болезни рыб связанные с кислотностью воды</h3>

<h4>Ацидоз (кислотная болезнь)</h4>

Ацидоз (от лат. <em>acidus</em> - кислый) - смещение кислотно-щелочного баланса организма в сторону увеличения кислотности (уменьшению рН).
<h5>Причины заболевания</h5>
<p>Ацидоз вызывается очень низким показателем pH: ниже 5,5 или понижения допустимого значения для данного вида рыб или резким его понижением (рН шоком). Постепенное понижение pH происходит, когда биологические процессы окисления преобладают над процессами восстановления. Резкое понижение pH происходит при отсутствии в биотопе «буфера», т.е. низком значении KH и редкими подменами воды, а также при пересадке рыб в более «кислую» воду.
</p>
<h5>Симптомы</h5>
<p>Различают острый и хронический ацидоз.</p>
<p><ins>Хронический ацидоз</ins> – pH падает постепенно, рыбы мало двигаются и становятся пугливыми. Жаберные крышки время от времени судорожно сживаются, их движение замедляется, сокращается частота сердцебиения. Нарушается координация движений: рыба плавает боком или вверх брюхом. В разных частях тела, чаще на брюшке, возникают покраснения. Появляется толстая мутная плёнка на глазах. Окраска тела бледнеет, поверхность тела покрывается слоем слизи молочного цвета. Слизь на жабрах сильно затрудняет дыхание. При pH ниже 6 на жабрах в виде темно-серого налета откладывается коллоидное железо, образующее комплексные соединения с молекулами некоторых органических веществ, что полностью подавляет газообмен в жабрах. В организме рыбы накапливается большое количество углекислоты. Рыба погибает, тело её свернуто кольцом, рот и жаберные крышки закрыты.</p>
<p>
<ins>Острый ацидоз</ins> – pH падает резко. Резкое изменение кислотности провоцирует у рыб беспорядочные, хаотичные движения, судорожные вздрагивания, попытки выпрыгнуть из воды. У некоторых видов рыб (например, вуалевые самцы гуппи) низкий показатель pH вызывает расщепление хвостового плавника. Рыбы могут лежать на дне, на брюхе, а иногда и плавать брюхом вверх. Однако часто эти симптомы могут появиться только через день после отравления, и рыбу уже невозможно будет вылечить.</p>
<p>И при постепенном, и при резком падении pH рыбы могут погибнуть.</p>
<h5>Лечение</h5>
<p>При хроническом ацидозе необходимо постепенно повысить показатель pH до нейтрального, т.е. pH = 7. Скорость изменения pH не должна превышать 0,3 единицы в день, чтобы у рыб была возможность постепенно приспосабливаться к изменениям. Есть два способа добиться этого:</p>
<ul>
<li>частой и регулярной подменой воды в аквариуме,
<li>добавлением в воду соды из расчета 2-3 грамма на 100 литров.
</ul>
<p>При остром ацидозе рыб следует немедленно пересадить в аквариум, из которого они взяты, после чего постепенно уравнивать показатель pH в обоих аквариумах. Острый ацидоз обычно является смертельным, даже если быстро принять меры. Поэтому важно установить причину возникновения проблемы и предпринять необходимые меры, чтобы предотвратить её повторение.</p>

<h4>Алкалоз (щелочная болезнь)</h4>

Алкалоз (позднелат. <em>alcali</em> щелочь, от арабск. <em>al-qali</em>) — нарушение кислотно-щелочного равновесия организма, характеризующееся абсолютным или относительным избытком оснований.
<h5>Причины заболевания</h5>
<p>Алкалоз наступает, когда pH аквариумной воды выше диапазона значений pH, оптимального для рыб данного вида.</p>
<h5>Симптомы</h5>
<p>Различают острый и хронический алкалоз.</p>
<p><ins>Хронический алкалоз</ins> – pH растет постепенно. Щелочная вода раздражает внешнюю поверхность тела рыбы (в том числе жабры) и может вызвать неблагоприятные физиологические изменения. Признаки хронического алкалоза менее очевидны, чем у острого. Среди них выделяют: затрудненное дыхание и «кашель», чрезмерная выработка слизи, зуд кожи. Проблемы с осморегуляцией, вызванные хроническим алкалозом могут привезти к вздутию живота. Хронический алкалоз может начаться в следующих случаях: при содержании рыб в воде с заведомо высоким pH, чем в естественных условиях обитания; при регулярном доливе свежей воды, богатой минеральными веществами, взамен испарившейся (долив воды не заменяет подмену!); если декоративные предметы (например, известняковые камни) постоянно выделяют в воду растворимые минеральные вещества.</p>
<p><ins>Острый алкалоз</ins> – pH растет быстро. При резком изменении pH в большую сторону, у рыб наблюдается тусклость кожных покровов, растопыренные плавники, учащенное дыхание, из жабр выделяется слизь, рыбы начинают метаться по аквариуму и стремятся выпрыгнуть из него. Острый алкалоз возможен: если рыбу перевести из одного аквариума в другой, не принимая во внимание разницу в значениях pH, а также в случае последующей передозировки средств, сдвигающих pH в сторону щелочных значений.
И при постепенном, и при резком увеличении pH рыбы могут погибнуть.</p>
<h5>Лечение</h5>
<p>Необходимо установить подходящий уровень pH. Этого можно достичь с помощью подходящего pH-буфера. Для медленной корректировки pH лучше использовать неоднократную частичную подмену воды, причем свежая вода должна иметь pH, близкий к нейтральному. Это самый лучший способ решения проблем, связанных с pH, поскольку многократная частичная подмена воды позволит устранить главную причину – уменьшить слишком высокое содержание минеральных веществ, которые обычно приводят к возникновению хронического алкалоза.</p>
<h5>Профилактика</h5>
<p>Необходимо изначально подбирать виды рыб, у которых схожие потребности по показателю pH воды. Выбирайте оформление аквариума таким oбразом, чтобы оно не оказывало неблагоприятного воздействия на желаемый химический состав воды. Регулярно прoверяйте значение рН, чтобы вовремя обнаружить первые признаки выщелачивания из-за кальция, содержащегося в предметах декора аквариума.</p>

<h3>Литература</h3>
<p><em>
    <ol>
        <li>Tetra Первые шаги к красивому аквариуму.
        <li>Эндрюс К., Экселл Э., Кэррингтон Н. Болезни рыб. Профилактика и лечение – М.: Аквариум-Принт, 2007г.
        <li><a href="https://www.ekzotika.com/bolezni-akvariumnyih-ryib/atsidoz-i-alkaloz/">Ацидоз и алкалоз - симптомы, лечение и профилактика</a>
        <li><a href="http://www.aqualover.ru/disease_and_problems/asidosis.html">Ацидоз или Кислотная болезнь | Акваловер</a>
        <li><a href="https://ru.wikipedia.org/wiki/%D0%90%D0%BB%D0%BA%D0%B0%D0%BB%D0%BE%D0%B7">Алкалоз - Википедия</a>
        <li><a href="https://ptichka.net/bolezni-ryb/alkaloz-shhelochnaya-bolezn-alkalosis-simptomy-lechenie">Алкалоз (щелочная болезнь) (Alkalosis) . Симптомы. Лечение | Болезни рыб | PTICHKA.NET - Домашние питомцы</a>
    </ol>
</em></p>
