<!-- Базовый шаблон с колонтитулами. -->
<!DOCTYPE html>
{% import 'constants.html' as constants %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ url_for('static', filename='icons/icon.gif') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta name="keywords" content="аквариумистика аквариум террариум вода рыба рыбка коралл">
    <meta name="description" content="Консультации, оформление, обслуживание, товары и аксессуары
                                        для АКВАРИУМОВ и ТЕРРАРИУМОВ в Москве и Московской области">
    <style>
    @font-face {
        font-family: Marmelad;
        src: url("{{ url_for('static', filename='fonts/Marmelad-Regular.ttf') }}");
    }
    </style>
    <title>AQUADOMUS {%- if title %} - {% endif -%} {{ title }}</title>
    {% block extrahead %}{% endblock %}
</head>
<body>

<!--************************************ HEADER ************************************-->
<div id="JS_WARNING">
    Для полноценной работы сайта необходимо включить поддержку JavaScript!
</div>

<div id="colontitule" class="colontitle">
    <div class="header-logo">
        <a class="header-logo" href="{{ url_for('index') }}">
            <img class="header-logo" src="{{ url_for('static', filename='icons/icon_white.gif') }}">
        </a>
    </div>

    <div class="header-top-texts">
        <div class="header-aquadomus1">
            <div class="header-aquadomus2">
                <a href="{{ url_for('index') }}">
                    <div class="header-aquadomus">AQUADOMUS</div>
                </a>
            </div>
            <div class="header-admin-logout">
                {% if session['admin'] %}
                <a href="{{ url_for('admin.logout') }}">logout</a>
                <a href="{{ url_for('admin.index') }}">admin</a>
                {% endif %}
            </div>
        </div>
        <nav>
            <a href="{{ url_for('gallery.index') }}">Галерея</a>
            <a href="{{ url_for('articles.index') }}">Статьи</a>
            <a id="prices" class="prices" onclick="show_prices()" onblur="hide_prices()">Цены</a>
                <div id="div_prices" class="prices">
                    <a class="prices" href="{{ url_for('stuff') }}">Скачать прайс-лист на товары</a>
                    <a class="prices"  href="{{ url_for('services') }}">Скачать прайс-лист на обслуживание</a>
                </div>
            <a href="{{ url_for('contacts') }}">Контакты</a>
        </nav>
    </div>
</div>

<!--************************************ CONTENT ************************************-->
<div class="content">
{% block content %}
<h1> EMPTY CONTENT </h1>
{% endblock %}
</div>

<!--************************************ FOOTER ************************************-->
<div class="colontitle footer">
    <div class="footer-left-block">
        <div class="footer-item-block">
            <a href="{{ constants.vk() }}">
                <img class="footer-icon" src="{{url_for('static', filename='icons/VK_Compact_Logo.gif')}}"
                                                align="left" title="{{ constants.vk() }}">
            </a>
            <a href="{{ constants.vk() }}">Мы во ВКонтакте:<br>{{ constants.vk() }}</a>
        </div>

        <div class="footer-item-block">
            <a href="mailto:{{ constants.email() }}">
                <img class="footer-icon" src="{{url_for('static', filename='icons/e-mail.gif')}}"
                     align="left" title="{{ constants.vk() }}">
            </a>
            <a href="mailto:{{ constants.email() }}">Напишите нам:<br>{{ constants.email() }}</a>
        </div>

        <div class="footer-item-block">
            <a href="{{ url_for('contacts') }}">
                <img class="footer-icon" src="{{url_for('static', filename='icons/phone.gif')}}"
                     align="left" title="{{ constants.tel1() }}; {{ constants.tel2() }}">
            </a>
            <a href="{{ url_for('contacts') }}">Позвоните нам:<br>{{ constants.tel1() }}; {{ constants.tel2() }}</a>
        </div>

        <div class="footer-item-block">
        </div>

    </div>
    <div class="footer-right-block">
        <a href="{{ request.url + '#' }}">
            <img class="footer-icon GoUp" src="{{url_for('static', filename='icons/GoUp.gif')}}"
                 title="В начало">
        </a>
    </div>
</div>

<script src="{{ url_for('static', filename='js/base.js') }}"></script>
</body>
</html>