<!-- Страница с контактной информацией. -->
{% extends 'base.html' %}
{% import 'constants.html' as constants %}

{% block extrahead %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/contacts.css') }}">
{% endblock %}


{% block content %}

<table class="contacts" cellspacing="10">
    <tr>
        <td><a href="{{ constants.vk() }}">
            <img class="contacts_icon" src="{{url_for('static', filename='icons/VK_Compact_Logo.gif')}}"></a></td>
        <td><a class="contacts" href="{{ constants.vk() }}">
            Мы во ВКонтакте: <b><nobr>{{ constants.vk() }}</nobr></b></a></td>
    </tr>

    <tr>
        <td><a href="{{ 'mailto:' + constants.email() }}">
            <img class="contacts_icon" src="{{url_for('static', filename='icons/e-mail.gif')}}"></a></td>
        <td><a class="contacts" href="{{ 'mailto:' + constants.email() }}">
            Наша электронная почта: <b><nobr>{{ constants.email() }}</nobr></b></a></td>
    </tr>

    <tr>
        <td>
            <img class="contacts_icon" src="{{url_for('static', filename='icons/phone.gif')}}"></td>
        <td><span class="contacts">Наши телефоны:
            <b><a href="{{ 'tel:' + constants.tel1().replace('(', '').replace(')', '').replace('-', '') }}">
                {{ constants.tel1() }}</a></b>;
            <b><a href="{{ 'tel:' + constants.tel2().replace('(', '').replace(')', '').replace('-', '') }}">
                {{ constants.tel2() }}</a></b></span></td>
    </tr>
</table>

<img class="contacts" src="{{ url_for('static', filename='contacts_fish.gif') }}">

{% endblock %}