<!-- Кастомная страница 404. -->
{% extends 'base.html' %}
{% block extrahead %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/error404.css') }}">
{% endblock %}

{% block content %}
<div class="text404">
    <p class="p404">{{ title }}</p>
    <p class="p404 p404text">{{ text }}</p>
</div>
<img class="sadfish" src="{{ url_for('static', filename='sad_fish.png') }}" alt="Грустная рыбка">

{% endblock %}