<!-- Корневая страница. -->
{% extends 'base.html' %}
{% block extrahead %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}

<div class="text">
Консультации, оформление, обслуживание, товары&nbspи&nbspаксессуары<br> для АКВАРИУМОВ и ТЕРРАРИУМОВ в&nbspМоскве&nbspи&nbspМосковской&nbspобласти.
</div>

<div class="imgs">
{% for img in bg_imgs %}
<img class="bg_img" src="{{ img }}">
{% endfor %}
</div>

{% endblock %}