/* GALLERIES */
.list_block {
    padding: 4vh 0px 0px 8vw;
    float: left;
}

h1 {
    font-size: 1.5rem;
}

li {
    font-size: 0.9rem;
    padding: 0.5rem;
    padding-right: 1.5rem;
    max-width: 65ex;
}

img.galleries {
    padding: 1% 3% 10% 10%;
    width: 40%;
    max-width: 700px;
}
@media (max-width: 885px) {
    img.galleries {
        padding: 2% 0% 0% 20%;
        width: 55%;
    }
}
