/* GALLERY */

h2 {
    text-align: center;
    font-size: 1.3rem;
}

div.photos {
    padding: 0 3rem 2rem 3rem;
    display: flex;
    flex-wrap: wrap;
/*     justify-content: center; */
/*     justify-content: space-between; */
    justify-content: space-around;
}

div.photos img {
    height: 7rem;
    text-decoration: inherit;
    display: flex;
    margin-bottom: 0;
    margin: 0.3rem 0.15rem;
    cursor: pointer;
}

iframe {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index:999;
    border: 0;
    overflow: scroll;
    display: none;
}
