body {
    margin:0
}

div.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(10,10,10,0.95);
    width: 100vw;
    height: 100vh;
    cursor: pointer;
}

div.image {
    max-width: min(85vw, 100%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

img.image {
    max-width: min(85vw, 100%);
    max-height: 95vh;
    border: 4px solid black;
}

div.arrow {
    height: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center;
}

div.arrow.left {
    justify-content: left;
}


div.arrow.right {
    justify-content: right;
}

img.arrow {
    width: 8vmax;
}
