<img src="ftext-1-436x261.jpg" style="float: right; padding-right: 0; padding-top: 0;">
<p>Среда обитания рыб – ВОДА. Пруд, озеро, река, море, океан – всё это водоёмы, в которых живут рыбы.
Вода в них отличается: температурой, солёностью, кислотностью, жесткостью воды и другими параметрами.
Именно они определяют качество воды и её пригодность для обитания рыб.
Глубина и размеры водоёма также имеют значение.
Соответственно, множество видов рыб могут жить только в определенных условиях.
Если условия по какой-либо причине меняются, то это ведет к их болезни и/или гибели.
</p>
<p>
Дома мы содержим рыб в аквариуме. У кого-то аквариум на 5 литров и живет там сиамский петушок,
у кого-то 500 литров и он любуется крупными цихлидами,
у кого-то целых 1500 литров – и он воссоздал часть кораллового рифа.
Это тоже водоёмы, только искусственные. Поэтому в наших искусственных водоёмах (аквариумах)
очень важно поддерживать рекомендуемые параметры воды для того или иного вида рыб.
Так какие параметры мы с Вами будем регулярно проверять в нашем аквариуме и при необходимости корректировать?
</p>
<p>Рекомендуется регулярно проверять следующие параметры:</p>
<ul>
    <li>температура</li>
    <li>кислотность (рН)</li>
    <li>жесткость общая (GH) и карбонатная (KH)</li>
    <li>содержание аммиака, нитритов, нитратов</li>
    <li>содержание кислорода</li>
    <li>содержание углекислого газа</li>
    <li>содержание фосфатов</li>
</ul>
<p>Для измерения этих параметров можно воспользоваться тестами. Тесты для воды могут быть как титровальными,
так и представлять собой тест-полоску сразу на несколько параметров, например,
тест Tetra 6 в 1 GH / KH / NO<sub>2</sub> / NO<sub>3</sub> / pH / CL2. </p>
