{% extends 'base.html' %}

{% block extrahead %}
<link rel="stylesheet" href="{{ url_for('.static', filename='css/style.css') }}">
{% endblock %}

{% block content %}

<h2>ADMIN</h2>
{% include 'admin/flashes.html' %}

<ul>
    <li><a href="{{ url_for('.change_pswd') }}">Сментить пароль</a></li>
    <div class="separator"></div>
    <li><a href="{{ url_for('.change_galleries') }}">Редактировать галереи</a></li>
    <li><a href="{{ url_for('.change_articles') }}">Редактировать статьи</a></li>
    <div class="separator"></div>
    <li><a href="{{ url_for('.change_stuff_prices') }}">Заменить файл с ценами на товары</a></li>
    <li><a href="{{ url_for('.change_services_prices') }}">Заменить файл с ценами на услуги</a></li>
    <div class="separator"></div>
    <li><a href="{{ url_for('.backup') }}">Резервное копирование</a></li>
</ul>


{% endblock %}
