{% extends 'base.html' %}

{% block extrahead %}
<link rel="stylesheet" href="{{ url_for('.static', filename='css/style.css') }}">
{% endblock %}

{% block content %}
<h2>Редактирование статей</h2>

{% include 'admin/flashes.html' %}

<form action="" method="POST" enctype="multipart/form-data">
    <fieldset><legend>Загрузить статью</legend>
        {{ upload_form.hidden_tag() }}
        <p class="description">
            Выберите HTML-файл (с кодировкой UTF-8) со статьёй и файлы-ресурсы (фотографии) для него.
            Все имена должны включать только ASCII-символы (без пробелов и кириллицы,
            дефис и нижнее подчёркивание допускаются).
            HTML-файл должен включать только содержимое body без всего остального.
            Необходимые (если есть) настройки стиля, отличающиеся от общих необходимо указывать
            через атрибут тегов style. Ссылки на файлы-ресурсы должны быть
            относительными в корень папки с HTML-файлом.
        </p>
        {{ upload_form.art_title(placeholder="Название статьи") }} {{ upload_form.files() }}
        <input type="submit" value="Загрузить статью">
    </fieldset>
</form>

<form action="" method="POST">
    <fieldset><legend>Удалить статью</legend>
        {{ delete_form.hidden_tag() }}
        <p class="description">
            Выберете статью, которую вы хотите удалить.
        </p>
        {{ delete_form.art_title_() }}
        <input type="submit" value="Удалить статью">
    </fieldset>
</form>

<form action="" method="POST">
    <fieldset><legend>Изменить порядок статей</legend>
        {{ reorder_form.hidden_tag() }}
        <p class="description">
            Выберете номер статьи и номер позиции на которую вы хотите её переместить.
        </p>
        <span>Переместить статью с {{ reorder_form.position_old() }} позиции на
            {{ reorder_form.position_new() }} позицию.</span>
        <input type="submit" value="Переместить">
    </fieldset>
</form>

<h1>&nbsp;</h1>

{% endblock %}
