{% extends 'base.html' %}

{% block extrahead %}
<link rel="stylesheet" href="{{ url_for('.static', filename='css/style.css') }}">
{% endblock %}

{% block content %}
<h2>{{ header }}</h2>

{% include 'admin/flashes.html' %}

<form action="" method="POST" enctype="multipart/form-data">
    <div class="pswd">
        {{ form.hidden_tag() }}
        <p class="pswd change_prices">
            {{ form.file(class="file", placeholder="Введите новый пароль ещё раз") }}
        <input type="submit" value="Заменить"></p>
    </div>
</form>

<h1>&nbsp;</h1>

{% endblock %}
