{% extends 'base.html' %}

{% block extrahead %}
<link rel="stylesheet" href="{{ url_for('.static', filename='css/style.css') }}">
{% endblock %}

{% block content %}
<h2>Редактирование галерей</h2>

{% include 'admin/flashes.html' %}

<form action="" method="POST" enctype="multipart/form-data">
    <fieldset><legend>Загрузить галерею</legend>
        {{ upload_form.hidden_tag() }}
        <p class="description">
            Выберете фотографии для загрузки в новую галерею.
        </p>
        {{ upload_form.glr_title(placeholder="Название галереи") }} {{ upload_form.files() }}
        <input type="submit" value="Загрузить галерею">
    </fieldset>
</form>

<form action="" method="POST">
    <fieldset><legend>Удалить галерею</legend>
        {{ delete_form.hidden_tag() }}
        <p class="description">
            Выберете галерею, которую вы хотите удалить.
        </p>
        {{ delete_form.glr_title_() }}
        <input type="submit" value="Удалить галерею">
    </fieldset>
</form>

<form action="" method="POST">
    <fieldset><legend>Изменить порядок галерей</legend>
        {{ reorder_form.hidden_tag() }}
        <p class="description">
            Выберете номер галереи и номер позиции на которую вы хотите её переместить.
        </p>
        <span>Переместить галерею с {{ reorder_form.position_old() }} позиции на
            {{ reorder_form.position_new() }} позицию.</span>
        <input type="submit" value="Переместить">
    </fieldset>
</form>

<h1>&nbsp;</h1>

{% endblock %}
