{% extends 'base.html' %}

{% block extrahead %}
<link rel="stylesheet" href="{{ url_for('.static', filename='css/style.css') }}">
{% endblock %}

{% block content %}
<h2>Изменение пароля</h2>

{% include 'admin/flashes.html' %}

<form action="" method="POST">
    <div class="pswd">
        {{ form.hidden_tag() }}
        <p class="pswd">{{ form.old_pswd(class="pswd", placeholder="Введите старый пароль", autofocus=True) }}</p>
        <p class="pswd">{{ form.new_pswd(class="pswd", placeholder="Введите новый пароль") }}</p>
        <p class="pswd">{{ form.new_pswd_bis(class="pswd", placeholder="Введите новый пароль ещё раз") }}</p>

        <p class="pswd"><input type="submit" value="Применить изменения"><input type="reset" value="Очистить"></p>
    </div>
</form>

<h1>&nbsp;</h1>

{% endblock %}
