<div class="flashes">
    <div class="flash">
        {% for _, msg in get_flashed_messages(with_categories=True, category_filter=['fail']) %}
        <h4 class="flash">{{ msg }}</h4>
        {% endfor %}
    </div>

    <div class="flash flash_green">
        {% for _, msg in get_flashed_messages(with_categories=True, category_filter=['success']) %}
        <h4 class="flash">{{ msg }}</h4>
        {% endfor %}
    </div>
</div>
