{% extends 'base.html' %}

{% block extrahead %}
<link rel="stylesheet" href="{{ url_for('.static', filename='css/style.css') }}">
{% endblock %}

{% block content %}
<h1>&nbsp</h1>
{% include 'admin/flashes.html' %}

<form action="" method="POST">
    {{ form.hidden_tag() }}
    <div class="pswd">
        <p class="pswd">{{ form.pswd(class="pswd", placeholder="Введите пароль", autofocus=True) }}</p>

        <p class="pswd"><input type="submit" value="Войти"></p>
    </div>
</form>

<h1>&nbsp;</h1>

{% endblock %}
